{% block html_head_container %}

{% include 'partial/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% include 'partial/header.twig' %}

		<main id="content" class="ui basic segment">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="ui container {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

		{% block footer %}
			{% include 'partial/footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
